body {
    background-image: url("background.jpg");
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.frontpageimage {
    max-width: 5%;
}

.navbar {
    background-color: #B764FF;
}

.img1 {
    max-width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.margin1 {
    margin-top: 100px;
}

.whitebox {
    background-color: white;
    border-radius: 25px;
}

.margin2 {
    margin-top: 20px;
}

.margin3 {
    margin-right: 10px;
}

.img2 {
    max-width: 20%;
    float: left;
    padding-right: 10px;
}

.img3 {
    max-width: 19%;
    float: left;
    padding-right: 10px;
}

.img4 {
    max-width: 19%;
    float: left;
    padding-right: 10px;
}

.font1 {
    font-size: 30px;
}

.padding1 {
    padding-top: 10px;
}

.instagram1 {
    float: left;
    padding-right: 50px;
}

